<%#encoding:UTF-8%><!DOCTYPE html>
<html<%= (attr? 'nolang') ? nil : %( lang="#{attr 'lang', 'en'}") %>>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= attr :encoding %>">
  <meta name="generator" content="Asciidoctor <%= attr 'asciidoctor-version' %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%
     if attr? :description %>
    <meta name="description" content="<%= attr :description %>">
  <%
     end
     if attr? :keywords %>
    <meta name="keywords" content="<%= attr :keywords %>">
  <%
     end %>
  <title><%= doctitle %></title>
  <%
     if ::Asciidoctor::DEFAULT_STYLESHEET_KEYS.include?(attr 'stylesheet') %>
    <%
       if @safe >= ::Asciidoctor::SafeMode::SECURE || (attr? 'linkcss') %>
      <link rel="stylesheet" href="<%= normalize_web_path(::Asciidoctor::DEFAULT_STYLESHEET_NAME, (attr :stylesdir, '')) %>">
    <%
       else %>

    <%
       end
       elsif attr? :stylesheet
         if @safe >= ::Asciidoctor::SafeMode::SECURE || (attr? 'linkcss') %>
      <link rel="stylesheet" href="<%= normalize_web_path((attr :stylesheet), attr(:stylesdir, '')) %>">
    <%
       else %>
      <style>
        <%= read_asset normalize_system_path(attr(:stylesheet), attr(:stylesdir, '')), true %>
      </style>
    <%
       end
       end
       if attr? 'icons', 'font'
         if !(attr 'iconfont-remote', '').nil? %>
      <link rel="stylesheet" href="<%= attr 'iconfont-cdn', 'http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css' %>/<%= attr 'iconfont-name', 'font-awesome' %>.min.css">
    <%
       else %>
      <link rel="stylesheet" href="<%= normalize_web_path(%(#{attr 'iconfont-name', 'font-awesome'}.css), (attr 'stylesdir', '')) %>">
    <%
       end
       end
       case attr 'source-highlighter'
         when 'coderay'
           if (attr 'coderay-css', 'class') == 'class' %>
    <%
       end
       when 'highlightjs' %>
    <link rel="stylesheet" href="<%= (attr :highlightjsdir, 'http://yandex.st/highlightjs/7.3') %>/styles/<%= (attr 'highlightjs-theme', 'default') %>.min.css">
    <script src="<%= (attr :highlightjsdir, 'http://yandex.st/highlightjs/7.3') %>/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad()</script>
  <%
     when 'prettify' %>
    <link rel="stylesheet" href="<%= attr 'prettifydir', 'http://cdnjs.cloudflare.com/ajax/libs/prettify/r298' %>/<%= attr 'prettify-theme', 'prettify' %>.min.css">
    <script src="<%= attr 'prettifydir', 'http://cdnjs.cloudflare.com/ajax/libs/prettify/r298' %>/prettify.min.js"></script>
    <script>document.addEventListener('DOMContentLoaded', prettyPrint)</script>
  <%
     end %><%= (docinfo_content = docinfo).empty? ? nil : %(
#{docinfo_content}) %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= (attr 'analyticsid') %>']);
    _gaq.push(['_setDomainName', '<%= (attr 'analyticsdomain') %>']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div id="header">
    <div class="container">
      <div class="branding" onclick="location.href='http://cascading.io/driven';" style="cursor: pointer;"></div>
   <!-- <div class="header-top">
        <a class="link" href="http://www.cascading.org">CASCADING</a>
        <a class="link" href="http://www.concurrentinc.com">CONCURRENT</a>
        <a href="http://www.cascading.io/forums/signup" class="joincom link">JOIN THE COMMUNITY</a>
        <a class="btn-login" href="http://driven.cascading.io">Driven Login</a>
      </div>
      <nav id="nav">
        <div class="menu-header-menu-container">
          <ul id="menu-header-menu" class="nav-menu">
            <li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90"><a href="http://cascading.io/driven/">DRIVEN</a></li>
            <li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="http://cascading.io/services/">SERVICES</a></li>
            <li id="menu-item-377" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-377"><a target="_blank" href="http://www.cascading.org">COMMUNITY</a></li>
          </ul>
        </div>
      </nav> -->
    </div>
  </div>
<%
   if (attr? :toc) && (attr? 'toc-placement', 'auto') %>
  <div id="toc" class="<%= attr 'toc-class', 'toc' %>">
    <div id="toctitle"><%= attr 'toc-title' %></div>
    <%= converter.convert self, 'outline' %>
  </div>
  <% end %>
  <div id="content">
    <% if has_header? %>
    <h1><%= @header.title %></h1>
      <% if attr? :revnumber %>
        <span id="revnumber">version <%= attr :revnumber %><%= attr?(:revdate) ? ',' : '' %></span><br><br>
      <% end
    end %>
    <%= content %>
  </div>
<%
   unless !footnotes? || attr?(:nofootnotes) %>
  <div id="footnotes">
    <hr>
    <%
       footnotes.each do |fn| %>
      <div class="footnote" id="_footnote_<%= fn.index %>">
        <a href="#_footnoteref_<%= fn.index %>"><%= fn.index %></a>. <%= fn.text %>
      </div>
    <%
       end %>
  </div>
<%
   end %>

</body>
</html>
